.quizContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(C:\Users\asus\Desktop\knock-knock\src\assets\Bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz {
    background-color: #042a6b;
    width: 500px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
}

.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */

.question-section {
    width: 100%;
    position: relative;
    text-align: left;
    margin-right: 10px;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
}

.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}

/* ANSWERS/RIGHT SECTION */

.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #042a6f;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    cursor: pointer;
}

.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

.option:hover {
    background-color: #555e7d;
}

.option:focus {
    outline: none;
}

.option svg {
    margin-right: 5px;
}

@media screen and (max-width: 960px) {
    .quiz{
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .option{
        margin-top:  10px;
    }
}